# Binary storage
JintAddons/bin/
JintAddons/obj/
JintAddons/lib/
# Binary storage
DemoApp/bin/
DemoApp/obj/
DemoApp/lib/
# Binary storage
DemoXamarin/DemoXamarin/bin/
DemoXamarin/DemoXamarin/obj/
DemoXamarin/DemoXamarin/lib/

# Binary storage
DemoXamarin/DemoXamarin.Android/bin/
DemoXamarin/DemoXamarin.Android/obj/
DemoXamarin/DemoXamarin.Android/lib/
# Binary files
*.db
*.dll
*.exe

# NuGet packages
*.nupkg
**/packages/*
!**/packages/build/
#!**/packages/repositories.config

# IDE clutter
.vs/
*.suo
*.user
*.userprefs

# Profiling sessions
*.vspx
*.psess

# Miscellaneous
*.cache
